
.userPhoto {
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: 0 20px;
    border-radius: 50%;
}
.userBlocks{
    margin-top: 5px;
}
.userBlock {
    margin: 0 auto;
    max-width: 900px;
    display: grid;
    padding: 7px 20px;
    grid-template-columns: 2fr 11fr;
}

.followBtn{
    width: 100px;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 11px;
    background-color: #7280ff;
    border: 2px solid #6372fb;
    border-radius: 14px;
    cursor: pointer;
}
.followBtn:focus{
    outline: none;
}

.userBlock__info {
    display: grid;
    grid-template-columns: 10fr 2fr;
    padding: 7px;
    border: 2px solid #a9a9a9;
    border-radius: 8px;
}

.userBlock__fullName {
    min-height: 50px;
    font-weight: 700;
}