*{
  box-sizing: border-box;
}


.app-wrapper{
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 20% 1fr;
  grid-template-areas: 
  "header header"
  "nav article";
}

.app-wrapper-content{
  grid-area: article;
  background-color: beige;
}
