.dialogs{
    display:grid;
    grid-template-columns: 2fr 9fr;
}

.dialogsItem{
    padding: 10px;
}

.dialogsItem .dialog{
    padding-bottom: 5px;
}

.dialogsItem .dialog.active{
    color: blue;
}

.massages{
    padding: 10px;
}

.massage{
    padding: 5px 10px;
    margin: 5px 40px 5px 0;
    border: 1px solid #a9a9a9;
    border-radius: 13px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #636363;
}

.sendingField{
    padding-top: 20px;
}

.dialogs__textArea {
    width: 600px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;

}

.dialogs__tsendButton{
    min-width: 100px;
    margin: 10px 0;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 11px;
    background-color: #7280ff;
    border: 2px solid #6372fb;
    border-radius: 8px;
    cursor: pointer;
}
.followBtn:focus{
    outline: none;
}